* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: orange;
    font-weight: 600;
    font-size: 1.4em;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}