* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#todoviewer {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: orange;
    flex-direction: column;
}

#title {
    width: 100%;
    height: 20%;
    background: red;
}

.todoitem {
    width:800px;
    background: white;
    list-style-type: none;
    display: inline-flex;
    padding: 80px;
    justify-content: space-between;
    border-radius: 20px;
}

