* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#todoviewer {
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70vw;
    height: 90vh;
    background-color: orange;
}

#list-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: white;
    width: 80vw;
    height: 80vh;
}