* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#toDoInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 20vh;
    background: black;  
}

#inputForm {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    height: 50%;
    
}

.input {
    display: flex;
    width: 80%;
    height: 90%;
}

.submit {
    position: relative;
    top: 10px;
    height: 50%;
}