* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#todoviewer {
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70vw;
    height: 100vh;
}